Django
psycopg2-binary
python-dotenv
whitenoise
django-baton
argh  
asgiref
certifi
charset-normalizer
docker-py
hgijson
idna
pathtools
python-dateutil
PyYAML
requests
setuptools
six
sqlparse
tzdata
urllib3
watchdog
websocket-client